/*https://www.colorhunt.co/palette/000000323232ff1e56ffac41
#000000 negro
#323232 gris
#FF1E56 rojo
#FFAC41 amarillo
*/

$gris:#323232;
$blanco:#EBEEF2;
$rojo:#FF1E56;
$naranja:#FFAC41;
$negro:#000000;
$negrotransp:#323232de;
$pCerveza: white;

/*letras*/
$font:'Rubik', sans-serif;

/*CONDICIONALES*/
$pCerveza: rubiaP; 
p {
      @if $pCerveza == rubiaP{
             color: white;
      } @else if $pCerveza == rojaP {
                 color: rgba(240, 151, 151, 0.664);
     } @else if $pCerveza == negraP {
                color: rgb(159, 159, 219);
     } @else {
                color: rgb(131, 132, 133);
      }
}