footer{
    font-family: $font;
    font-size: 12px;
    color: $blanco;
    text-align: center;
    .pieDePagina{
        font-family: $font;
        font-size: 12px;
        color: $blanco;
        font-style: normal;
        text-align: center;
        line-height: 3;
    }
  }