/* RESPONSIVE Mobile first*/

@media only screen and (max-width: 768px) {
    h1{
      color: $naranja;
    }
    .padre{
      padding: 0px;
      margin: 0px;
      height: 250px;
      width: 360px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr 2fr 1fr 1fr;
      grid-template-areas: 
          "header"
          "mainUno"
          "mainDos"
          "aside"
          "footer"
          ;
      gap: 0px;
  }

  .hijo{
    width: 360px;
}
.header{
  width: 360px;
}
.mainUno {
  width: 360px;
  .celularcito{
    width: 345px;
    height: auto;
  }
}

.mainDos{
   width: 360px;
}
.aside{
   width: 360px;
}

.footer{
    width: 360px;
}

    ul{
      list-style: none;
      padding: 0.7px;
      margin: 0.4px;
      background-color: $negrotransp;
      font-size: 0;
      li {
          display:inline-block; 
          width: 13%;
          position:relative;
          font-size: 0.65rem;
          color: $negrotransp;
          ul {
              position: absolute;
              display: none;
              li {
                  display: block;
                  background-color: none;
                  li:hover{
                      color: $naranja;
                      font-size: 0.65rem;
                      background-color: none;
                      
                    }
               }
           }
      }
  }

  }

  a {
    text-decoration: none;
    padding: 1px;
    color: $blanco;
    font-family: $font;
    font-size: 0.65rem;
  }

a:hover{
    color: $negro;
    background-color: $naranja;
  }

  ul li:hover ul {
     display: block;
     background-color: $negro;
  }

  h1{
    font-size: 37px;
}

  h2{
    font-size: 20px;
}


  p{
    font-size: 14px;
}

  
  @media (min-width: 768px){
      .padre{
        padding: 1px;
        margin: 3px;
        width: 767px;
        height: 360px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr;
        grid-template-areas: 
           "header header"
           "mainUno mainUno"
           "mainDos aside"
            "footer footer"
          ;
        gap: 0px;
    }

    .hijo{
      width: 767px;
  }
  .header{
    width: 767px;
  }
  .mainUno {
    width: 767px;
  }
  .mainDos{
     width: 382px;
  }
  .aside{
     width: 382px;
  }
  
  .footer{
      width: 767px;
  }
  

    ul{
      list-style: none;
      padding: 2px;
      margin: 5px;
      background-color: $negrotransp;
      font-size: 0;
      li {
          display:inline-block; 
          width: 15%;
          position:relative;
          font-size: 1rem;
          color: $negrotransp;
          ul {
              position: absolute;
              display: none;
              li {
                  display: block;
                  background-color: none;
                  li:hover{
                      color: $naranja;
                      font-size: 1rem;
                      background-color: none;
                      
                    }
               }
           }
      }
  }

  a {
    text-decoration: none;
    padding: 1px;
    color: $blanco;
    font-family: $font;
    font-size: 1rem;
  }

a:hover{
    color: $negro;
    background-color: $naranja;
  }

  ul li:hover ul {
     display: block;
     background-color: $negro;
  }

  }



  
  @media only screen and (min-width: 1024px){
      .padre{
        padding: 1px;
        margin: 3px;
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr;
        grid-template-areas: 
          "header header header"
          "mainUno mainUno aside"
          "mainDos mainDos aside"
          "footer footer footer"
        ;
        gap: 1px;
    }

    .hijo{
      width: 100%;
  }
  .header{
    width: 100%;
  }
  .mainUno {
    width: 100%;
  }
  
  .mainDos{
     width: 100%;
  }
  .aside{
     width: 100%;
  }
  
  .footer{
      width: 100%;
  }

    ul{
      list-style: none;
      padding: 6px;
      margin: 2px;
      background-color: $negrotransp;
      font-size: 0;
      li {
          display:inline-block; 
          width: 15%;
          position:relative;
          font-size: 1rem;
          color: $negrotransp;
          ul {
              position: absolute;
              display: none;
              li {
                  display: block;
                  background-color: none;
                  li:hover{
                      color: $naranja;
                      font-size: 1rem;
                      background-color: none;
                      
                    }
               }
           }
      }
  }
  
  a {
    text-decoration: none;
    padding: 1px;
    color: $blanco;
    font-family: $font;
    font-size: 1rem;
  }

a:hover{
    color: $negro;
    background-color: $naranja;
  }

  ul li:hover ul {
     display: block;
     background-color: $negro;
  }

    h1{
      color: $naranja;
      font-weight: bolder;
    }
  
    .pClub{
      font-display: transparent;
    }
  }