/*La página no es responsiva (esto es obligatorio como requisito de aprobación).
No se aplican mixins.
No se aplican propiedades como each, if, etc.

.padre{
    padding: 0px;
    margin: 0px;
    height: 360px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-areas: 
        "header header"
        "mainUno mainDos"
        "aside aside"
        "footer footer"
        ;
    gap: 0px;
}

ul{
    list-style: none;
    padding: 10px;
    margin: 5px;
    background-color: $negrotransp;
    font-size: 0;
    li {
        display:inline-block; 
        width: 14%;
        position:relative;
        font-size: 10px;
        color: $negrotransp;
        ul {
            position: absolute;
            display: none;
            li {
                display: block;
                background-color: none;
                li:hover{
                    color: $naranja;
                    font-size: 14px;
                    background-color: none;
                    
                  }
             }
         }
    }
}
 
 
   a {
     text-decoration: none;
     padding: 4px;
     color: $blanco;
     font-family: $font;
     font-size: 14px;
   }
 
a:hover{
     color: $negro;
     background-color: $naranja;
   }
 
   ul li:hover ul {
      display: block;
      background-color: $negro;
   }


/node_modules/

*/